[2017-09-21 11:24] elmoke opened #570 "Unable to create new issue"
When the list of issues is empty one cannot create a new issue as the only option in the drop down is "Create new issue"
To reproduce: select finding in a workspace without current issues. click "Link to issue".
New window pop-ups but one cant click Link

[2017-09-21 12:55] seccubus opened #571 "testssl scan fails on docker because hexdump is not isntalled"
Hexdump is part of the debian package `bsdmainutils`

[2017-09-21 14:47] seccubus opened #573 "Move to circleCI v2 as it is a lot faster"
Faster unit tests means less waiting to it.

[2017-09-25 08:32] seccubus commented on #571
Fixed by pull request #574

[2017-09-25 08:32] #571 closed

[2017-09-28 07:53] #573 closed

[2017-09-28 12:37] seccubus commented on #570
Cannot reproduce.

[2017-09-28 12:37] #570 closed

[2017-10-01 22:49] gavinmporter commented on #533
Confirmed still an issue with Seccubus version 2.40.0

Added bug on the Kali bug tracker: https://bugs.kali.org/view.php?id=4281

[2017-10-02 00:10] gavinmporter commented on #533
The problem in Kali is inherited from Debian. Debian Testing only provides 'default-mysql-server' and not 'mysql-server'.

Suggestion from Kali bug tracker, is to change the debian.control file of the package to include both options:
"mysql-server | default-mysql-server,"
Can the debian.control file be am

[2017-10-02 05:27] rhertzog commented on #533
The correct dependency to use is "default-mysql-server | virtual-mysql-server". If you want to keep compatibility for version older than stretch you might want to add a third alternative "default-mysql-server | virtual-mysql-server | mysql-server".

Thank you.

[2017-10-02 06:34] seccubus commented on #533
Thanks. I will make sure to adopt this.
I hope to be included in Kali one day.

[2017-10-02 07:53] seccubus commented on #568
I'm closing this one, since I believe I have fixed it. Please reopen if I haven't.

[2017-10-02 07:53] #568 closed

[2017-10-02 09:27] secbyd opened #578 "Filter not reset when switching Scan"
When a filter is selected (e.g. Plugin) it is not reset when selecting a different scan.
This causes ambiguous results as findings of another scan seem empty.
To reproduce:
Open scan with findings, set a filter
Click another scan with known findings

[2017-10-02 20:27] seccubus opened #580 "--cdn option IPs are not included when a finding varies across endpoints"

[2017-10-02 20:57] #533 closed

[2017-10-02 21:25] #580 closed

[2017-10-09 06:22] seccubus commented on #578
It is deliberate. Scans can be done with different scanners and with the same scanner.
Sometimes you want to see what scanner A and scanner B both have to say about the same port.

[2017-10-09 06:24] seccubus commented on #509
Confirmed this to be a bug indeed. Will fix.

[2017-10-10 04:39] #509 closed

[2017-10-17 22:23] vulnz opened #585 "docker error"
can not start docker on windows.
using comand:

docker run -it seccubus/seccubus web or
docker run -it seccubus/seccubus full
docker run -it seccubus/seccubus -full
does not work..

+ exec --fulldocker run -it seccubus/seccubus web
/entrypoint.sh: line 298: exec: --: invalid option
exec: usage: exec [-cl] [-a name] [command [arguments ...]] [redirection ...]

or

+ exec web
/entrypoint.sh: line 29

[2017-10-18 04:52] seccubus commented on #585
@vulnz ,

The way to configure Seccubus is via environment variables, not by running commands.

In order to run a full stack seccubus on port 8443 you can do the following:

[code]

If you want to just run the web stack, you do the following:
[code]

[2017-10-18 12:05] vulnz commented on #585
Thank you. You are great. ;)
but it does not work.

`docker run -p 1443:443 seccubus/seccubus
+ STACK=full
+ DBHOST=127.0.0.1
+ DBPORT=3306
+ DBNAME=seccubus
+ DBUSER=seccubus
+ DBPASS=seccubus
+ TLS=yes
+ TZ=UTC
+ [[ -e /usr/share/zoneinfo/UTC ]]
+ rm -f /etc/localtime
+ ln -s /usr/share/zoneinfo/UTC /etc/localtime
+ [[ '' == \s\c\a\n ]]
+ [[ full != \f\u\l\l ]]
+ [[ yes == \y\e\s ]]
+ [[ full !=

[2017-10-18 13:19] seccubus commented on #585
@vulnz what did you expect that would happen and what happened?
What happens if you point a browser to https://127.0.0.1:1443?

[2017-10-18 16:39] vulnz commented on #585
Amost ;) My mistake was - i used http, not https.
![screen](https://user-images.githubusercontent.com/20043135/31730915-0d2cf57e-b43c-11e7-9b20-f51996a1e915.png)

What is the password?

[2017-10-19 15:40] seccubus commented on #585
It is 'GiveMeVulns!'

[2017-10-19 16:26] #564 closed

[2017-10-19 20:21] vulnz commented on #585
Thank you. Are are awesome!

[2017-10-20 08:26] alirezakv opened #588 "nmap2ivil leak"
when running nmap scans which execute nmap scripts, this leakage happens. The id of last script on previous port will be assigned to the new port.
so something like this:
`<port>22 <script>ssh-enum</script></port>`
`<port>25 <script>smtp-enum</script></port>`
will result to 4 findings in seccubus:
**id->port->info**
ports -> 22 -> ...
ssh-enum -> 22 -> ...
_ssh-enum -> 25 -> ..._  this is wrong!
s

[2017-10-20 13:02] alirezakv opened #589 "Openvas scan bug"
The scan file for OpenVAS has a bug that occurs when there is only one target defined in OpenVAS which will cause the test to fail. if only one target is defined then the data structure returned by OpenVAS changes. This prevents scan execution.
The patch is attached here.

[bug-openvas_scan_with_one_target.patch.txt](https://github.com/schubergphilis/Seccubus/files/1401978/bug-openvas_scan_with_on

[2017-10-23 07:36] womanizzzer opened #590 "Nessus external Scanner Bug"
Hey @seccubus ,
I have 1 internal (NessusManager) and 2 external Nessuscanner. If i want to use an external scanner the i get error code 500. Its working with the version 2.32 but not with the current version.
What is the solution?

[2017-10-23 12:20] womanizzzer commented on #590
Use of uninitialized value in string eq at /opt/seccubus/scanners/Nessus6/scan line 313.

[2017-10-23 12:23] womanizzzer commented on #590
Scan export status request returned 404Server returned error: The requested file was not found
$VAR1 = {
          'error' => 'The requested file was not found'
        };
Scan export status request returned 404Server returned error: The requested file was not found
$VAR1 = {
          'error' => 'The requested file was not found'

[2017-10-24 12:40] seccubus opened #592 "Bug in SBG processing"
Finding 3 should be open, not NEW after the tests

[2017-10-24 13:00] #592 closed

[2017-10-26 13:51] #554 closed

[2017-10-27 11:32] hansgoes opened #593 "ssllabs poodle TLS scores 1 but is reported vurnerable"
poodleTls - results of the POODLE TLS test:
-3 - timeout
-2 - TLS not supported
-1 - test failed
0 - unknown
1 - not vulnerable
2 - vulnerable

output in the json :
   "poodleTls" : 1,

result in seccubus :

443/tcp | poodleTls | ssllabs | 2 | VULNERABLE to Poodle over TLS

[2017-10-27 14:30] hansgoes opened #595 "ticketbleed reporting is not correct"
in the json output ticketbleed also reports 1 which means NOT vurnerable but seccubus says vurnerable.

https://github.com/ssllabs/ssllabs-scan/blob/master/ssllabs-api-docs-v3.md

[2017-10-27 14:50] #593 closed

[2017-10-27 15:20] seccubus opened #597 "Log start and end of scan in syslog"

[2017-10-30 10:17] womanizzzer commented on #590
????

[2017-11-01 03:08] lianfeng30 commented on #138
bin/do-scan --workspace test_workspace --scan test_nessus -v
File does not exist: etc/dummy.config.xml at /opt/seccubus/SeccubusV2.pm line 98.

[2017-11-01 05:52] seccubus commented on #138
@lianfeng30 your do-scan command is reporting that it cannot find a configuration file. The configuration file holds the location of the modules.
How did youninstall seccubus?

[2017-11-01 06:41] #595 closed

[2017-11-01 07:14] #597 closed

[2017-11-01 09:25] lianfeng30 commented on #138
@seccubus ye..   i install on kali ,but it‘not work..

i try in ubuntu
![image](https://user-images.githubusercontent.com/8369618/32268331-a15ad844-bebc-11e7-98a0-4feae741209f.png)

[2017-11-01 09:28] lianfeng30 commented on #138
![image](https://user-images.githubusercontent.com/8369618/32268432-0bdd8b80-bebd-11e7-8939-ac6fff216256.png)

what will i do?

[2017-11-01 09:34] lianfeng30 commented on #138
ubuntu@U-Virtual:/opt/seccubus$ morbo seccubus.pl
Server available at http://127.0.0.1:3000
[Wed Nov  1 17:31:24 2017] [debug] Your secret passphrase needs to be changed
[Wed Nov  1 17:32:18 2017] [debug] GET "/"
[Wed Nov  1 17:32:18 2017] [debug] Routing to a callback
[Wed Nov  1 17:32:18 2017] [debug] 302 Found (0.001670s, 598.802/s)
[Wed Nov  1 17:32:21 2017] [debug] GET "/api/session"
[Wed Nov

[2017-11-01 09:34] lianfeng30 commented on #138
http://127.0.0.1:3000/seccubus/seccubus.html

Automated vulnerability scanning and reporting

    Login
    Status

Online version check
ERROR

ERROR: <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>500 Internal Server Error</title>
</head><body>
<h1>Internal Server Error</h1>
<p>The server encountered an internal error or
misconfiguration and was unable to complete
your req

[2017-11-01 09:41] lianfeng30 commented on #138
@seccubus ye.. i install on kali ,but it‘not work..

what i will do ? thanks

[2017-11-01 09:53] lianfeng30 commented on #138
@seccubus i used source install

[2017-11-09 08:55] womanizzzer opened #603 "Nessus send no data to seccubus"
@seccubus Seccubus start scans on nessus, but seccubus receives no results from nessus.
I tried scans internal and external, both variant dont work

[2017-11-10 07:21] Ar0xA commented on #603
This is the log output:

`Scan export status request returned 404Server returned error: The requested file was not found
$VAR1 = {
          'error' => 'The requested file was not found'
        };
Scan export status request returned 404Server returned error: The requested file was not found
$VAR1 = {
          'error' => 'The requested file was not found'
        };
Scan export status request ret

[2017-11-10 08:26] seccubus commented on #603
Things that might help:
* Run do scan with -v -v -v to see all the calls that are made to the Nessus box
* Verify that the scan actually runs and finishes via the Nessus GUI.

[2017-11-10 10:29] Ar0xA commented on #603
note: locally reproducing this error failed on CentOS7; everything works here despite the fight of installing Mojolicious on CentOS7.

I'll get their output soon and see what their issue is.

[2017-11-10 11:08] alirezakv commented on #589
@seccubus Could you look into this and #588 to include them in next build? I also included the patch files.

[2017-11-10 11:28] alirezakv opened #604 "Tag executions"
@seccubus
In a CI/CD environment, while running scans on products, it's important to know the history alongside version. As a sample case, let's say in current version you find a bug and in next version the bug is fixed. currently in seccubus, we only have the state of each finding, but we don't have a reference on the version. As it's a CI/CD environment and we need to compare the results, we onl

[2017-11-11 15:37] womanizzzer commented on #603
a scan run an finished via nessus without problmes .. after the scan is finish i get the error like @Ar0xA

[2017-11-11 15:51] seccubus commented on #603
Does the scan actually return findings? Is a run created in the runs tab?

Sent with big fingers from a small keyboard, don't blame me for typios please...
________________________________
From: womanizzzer <notifications@github.com>
Sent: Saturday, November 11, 2017 4:37:50 PM
To: schubergphilis/Seccubus
Cc: Frank Breedijk; Mention
Subject: Re: [schubergphilis/Seccubus] Nessus send no data to sec

[2017-11-11 15:52] seccubus commented on #603
Would it be possible to contact me directly so I can look at things on your system? @Ar0xA has my details.

[2017-11-12 17:10] womanizzzer commented on #603
The Scan doesnt return findings and doesnt created in runs tab.
Yes It Is possible to contact you ...

[2017-11-13 07:54] seccubus commented on #603
I should be available all day Wednesday.

Seccubus is designed not to import a scan when it contains no fidnigns at all, because it assumes that this is due to a scanner failure. So if yuor Nessus job does not have any findings at all it will not be imported.

We are running a setup here that launches about 40 nessus jobs each month. I'm having a hard time replicating your issue so would like to l

[2017-11-13 08:20] Ar0xA commented on #603
I will have a look at it soon at one of my colleague's systems, but thats unlikely today due to other work.

I have more information though: it seems everything goes fine, until the scan is finished and Seccubus tries to retrieve the data itself (-v -v -v output)

Exporting report in pdf format
POST to https://192.168.56.103:8834/scans/10/export?history_id=12
Params:
$VAR1 = '{"chapters":"vuln_hos

[2017-11-13 09:42] seccubus opened #605 "Container: Add parameter to only schedule if it is a certain day"
In order to do "First Monday of the month" type scheduling in Kubernetes I would like the scan command in a container to accept a third parameter that instructs the container to only run the scan if today is a Mon, Tue, , etc.

Rationel: Like corn, Kubernetes cronjobs interpret the schedule `0 1 1-7 * Mon cmd` as run `cmd` at 01:00 on day 1 through 7 of the month AND every Monday.

Normally this g

[2017-11-13 10:33] #605 closed

[2017-11-13 12:15] womanizzzer commented on #603
My Nessus Scanner list me a lot of findings ...

[2017-11-13 13:01] womanizzzer commented on #603
in attachment my seccubus output with  -v -v -v and two pictures from my nessus scanner as proof
[seccubus.txt](https://github.com/schubergphilis/Seccubus/files/1466889/seccubus.txt)
![nessus_seccubus_test](https://user-images.githubusercontent.com/29738526/32726960-22835b9a-c87b-11e7-9d05-623a27ef09c1.png)
![nessus_seccubus_test_findings](https://user-images.githubusercontent.com/29738526/3272696

[2017-11-14 07:01] seccubus commented on #603
@womanizzzer unfortunately, you text gto truncated, but here's what I've been able to find out.

* The scan is started correctly
* If finishes and has findings
* Nessus is able to download the scan report in .nessus and .html format

The text stops in the middle of the HTML report.

Couple of things to try:
* If you start the scan with the `--nodelete` parameter, what files are left in /tmp ?
* Ad

[2017-11-14 07:51] womanizzzer commented on #603
@sesscubus first time information about nessus version.
-at work i use the Nessus Manager
-private i use Nessus Home
at both i get this error massage

[2017-11-14 07:52] womanizzzer commented on #603
@seccubus first time information about nessus version.
-at work i use the Nessus Manager
-private i use Nessus Home
at both i get this error massage

[2017-11-14 07:55] Ar0xA commented on #603
In my (successful) test I used the trial Pro version. One colleague also used Home and the other tried the trial of Pro. I have a session in a few minutes in which I'll spend some time seeing if I can debug this, on their systems. Will update once I have more information.

[2017-11-14 08:26] womanizzzer commented on #603
now i add parameters --export nessus --export html to scan and it works.
i did two test ... i tried more

[2017-11-14 09:21] Ar0xA commented on #603
I verified with my colleague, from the Nessus webinterface, he also has no "Export" to PDF option. Which would explain why this fails. I will check to see if i can find out why Nessus cant export to PDF

[2017-11-14 09:24] Ar0xA commented on #603
Ok, RTFM. for PDF exports in Nessus, oracle java needs to be installed. This is not the case with both my colleagues systems.

![image](https://user-images.githubusercontent.com/1157977/32772392-0150765a-c926-11e7-8a2c-4a6dc330260d.png)

[2017-11-14 09:25] Ar0xA commented on #603
@seccubus suggested fix from my side would be to have Seccubus by default export to .nessus format instead of pdf

[2017-11-14 09:40] seccubus commented on #603
The PDF is important to some users dropping it by default seems to be a bad idea (tm).

I need to find out if I can find out if a pdf report is available. Also I should fail gently in stead of critically.

[2017-11-14 09:43] Ar0xA commented on #603
ah ok, yeah. Since Nessus gives a 500 error when the export fails, how about after an error 500 then automatically try .html instead?

[2017-11-14 13:52] Ar0xA commented on #590
Same issue as in https://github.com/schubergphilis/Seccubus/issues/603 ?

[2017-11-15 07:23] seccubus commented on #603
Currently the `rest_call` function on line 483 of scanners/Nessus6/scanner dies when the number of retries is expired.
If it is modified to hard fail if that counter reaches 0, but soft fail if the couter is set to a negative number then in code around line 315 we could ignore download errors.
If a critical report cannot be downloaded (the nessus format e.g.) we could trap it later.

[2017-11-15 07:23] seccubus commented on #590
Yes, this is a duplicate of #603

[2017-11-15 07:23] #590 closed

[2017-11-16 17:48] womanizzzer opened #610 "JIT and ldap help"
@seccubus
is there an exact guide for the JIT / LDAP Configuration?
do you have a suggestion how to implement the that?
how is it supposed to work on Seccubus? there are functions like login and create, how does it work?
is created at create the user forever or only for the moment?

[2017-11-17 06:30] seccubus commented on #610
What I have in terms of documentation is here: https://www.seccubus.com/documentation/17-JIT-provisioning/
The source of that documentation is here: https://github.com/seccubus/seccubus.github.io/blob/master/documentation/17-JIT-provisioning.md

Suggested implementation is that you put a proxy in front of Seccubus that handles the LDAP authentication. Seccubus itself does not handle the actual aut

[2017-11-17 12:03] womanizzzer commented on #610
@seccubus thanks for your prompt reply :)
yes it would be very good to complete the instructions. if you used a different independent technology it would be better to document that. ldap is very important for me, because about 100 employees have to access Seccubus.
I've never done anything with JIT and am slowly
despairing.
There are other possibilities as well As OpenAM?

[2017-11-17 12:31] seccubus commented on #610
You could use nginx as aproxy and have it insert the header.

THis could work: https://www.thehumblelab.com/reverse-proxy-from-scratch-nginx-on-centos-7/

However, it does not detail how to add the header to the proxy request though.

[2017-11-18 07:51] Ar0xA commented on #589
Hi @alirezakv, Just a suggestion but I know from experience that @seccubus prefers a pull request for changes to the code. Since this is easier for testing and merging.

If you're unable to make a PR from these patches personally. I can do it for you. Let me know.

[2017-11-19 11:44] Ar0xA commented on #538
Duplicate of https://github.com/schubergphilis/Seccubus/issues/558, Mojolicious session is expired; but you do not get logged out or notified.

[2017-11-20 06:58] seccubus commented on #538
This is something I would, ideally like to pick up in a new UI, since retrofitting it in the old UI seems wasteful.

[2017-11-20 12:25] womanizzzer commented on #610
is that right, when i try to login i get the message "You are not in: Undefined user ''

![unbenannt](https://user-images.githubusercontent.com/29738526/33018326-42889286-cdf6-11e7-910b-ee8ecb29cc1c.PNG)

[2017-11-20 13:10] seccubus commented on #610
Sorry, I don’t understand your question?

[2017-11-20 13:33] womanizzzer commented on #610
I tried to set up jit, when I log in I get the following message...

[2017-11-20 13:48] seccubus commented on #610
Can you paste your config?
Is the authenticated user sent in the request from the proxy to Seccubus?

[2017-11-21 08:52] seccubus commented on #610
The message is generated when you are not logged in. It appears that Seccubus is unable to obtain the username from your proxy.

[2017-11-27 09:53] alirezakv commented on #589
Hi @Ar0xA
Thank you for your tip.
I will do that.

[2017-12-05 08:25] womanizzzer opened #614 "Seccubus Update failed"
if i want to update seccubus i get this message.
![seccubus](https://user-images.githubusercontent.com/29738526/33596985-33c3684e-d99e-11e7-9e81-1623e3b4ef67.PNG)

[2017-12-06 07:16] seccubus opened #615 "Docker: when the database was on the data volume the database failed to start"

[2017-12-06 07:20] seccubus opened #617 "Nikto scanner gives unintended error output"
[code]

[2017-12-06 07:26] seccubus commented on #614
The name in the RPM is now `seccubus`, it used to be `Seccubus` which was against the style guides.

If you remove package `Seccubus-2.42.0-229.1` first and then do a clean install of `seccubus-2.44-0` you should be ok.

[2017-12-06 07:26] seccubus commented on #610
@womanizzzer I still very much want to help you with this.

[2017-12-06 22:05] #603 closed

[2017-12-06 22:24] #615 closed

[2017-12-07 07:57] #588 closed

[2017-12-07 07:57] #589 closed

[2017-12-08 07:48] seccubus commented on #567
1.  I'll start with expanding the tickets with the option for an API-key to interface with jira. My suggestion would be to create a config option <ticket_type>JIRA</ticket_type> and <api_key> config options. This way other ticket API interfaces could be made at a later point.

Yes, makes sense...

  1.  I'll then add the ability, in the gui, create an automatic ticket of the selected (one or more)

[2017-12-08 07:48] seccubus commented on #610
Would you be able to capture the HTTP request as it arrives at the box or leaves the proxy and attach it?

[2017-12-08 08:54] womanizzzer commented on #610
it does not quite work for me yet, i'll do it next week and then report

[2017-12-08 08:55] womanizzzer commented on #614
Okay so it Works

[2017-12-08 19:34] naman commented on #585
Hey @seccubus, unrelated but it will be really helpful if you could update this password in the README itself. Thanks!

[2017-12-20 11:08] seccubus commented on #614
Cool. I will close this ticket then.

[2017-12-20 11:08] #614 closed

[2017-12-21 09:37] womanizzzer commented on #610
okay it works!!

I have installed apache and use it for LDAP authentication.

**-Injects the username in a http header (Apache2)**
# vim /etc/httpd/conf.d/Seccubus.conf
…

LDAP confoig *****

RewriteEngine On
               RewriteCond %{REMOTE_USER} ^(.*)$
               RewriteRule ^(.*)$ - [E=R_U:%1]
               RequestHeader set X-Remote-User %{R_U}e
...

**-evaluate http header field for r

[2017-12-21 09:38] womanizzzer commented on #610
okay it works!!

I have installed apache and use it for LDAP authentication.

**-Injects the username in a http header (Apache2)**
vim /etc/httpd/conf.d/Seccubus.conf

…

LDAP confoig *****

RewriteEngine On
RewriteCond %{REMOTE_USER} ^(.)$
RewriteRule ^(.)$ - [E=R_U:%1]
RequestHeader set X-Remote-User %{R_U}e
...

**-evaluate http header field for remote user**
This is the right config in the con

[2017-12-21 09:41] womanizzzer opened #631 "NESSUS 7 scan fail"
@seccubus
In Nessus 7 the API is disable. I geht this message:

GET to https://10.0.2.15:8834/scans?
Server response : {"folders":[{"unread_count":null,"custom":0,"default_tag":0,"type":"trash","name":"Trash","id":2},{"unread_count":null,"custom":0,"default_tag":1,"type":"main","name":"My Scans","id":3}],"scans":[{"folder_id":3,"type":null,"read":true,"last_modification_date":0,"creation_date":0,"

[2017-12-21 15:20] seccubus commented on #631
@womanizzzer in their infinite wisdom, Tenable has decided that the APi will only be avialable to customers fo their tenable.io platofrm. But customer who bought Nessus after 12 Dec 2017 will not get API access anymore.

I'm afraid that this means the end of the intergration of Nessus with other tools and a major step back.

Regrettably there is not much more I can do other then to express my horr

[2017-12-22 08:01] mhofstaetter-kag commented on #631
@seccubus Is support for tenable.io planed? I refrained from updating to Nessus 7 yesterday, after reading the small footnote, stating that the API is disabled.

I agree, that Tenable made a big step back with version 7. They made Nessus for bigger infrastructures unuseable imho.

[2017-12-27 20:48] arkenoi commented on #631
tenable.io should work as regular Nessus scanner, API was the same

[2017-12-27 20:56] womanizzzer commented on #631
@seccubus
one idea would be to pass the nessus reports manuel to seccubus in order to be able to process the findings dynamically

[2017-12-27 21:28] seccubus commented on #631
I’ve created a tennable.io pr today. It is 90% equal to Nessus with the exception of being able to select a scanner and using API keys to authenticate.

Instill need to look at workaround for Nessus7 as the API is crippled but not fully removed.

Sent with big fingers from a small keyboard, don't blame me for typios please...
________________________________
From: womanizzzer <notifications@github

[2017-12-27 21:29] seccubus commented on #631
Manual is already possible. But it could use a posher interface.

Sent with big fingers from a small keyboard, don't blame me for typios please...
________________________________
From: womanizzzer <notifications@github.com>
Sent: Wednesday, December 27, 2017 9:56:31 PM
To: schubergphilis/Seccubus
Cc: Frank Breedijk; Mention
Subject: Re: [schubergphilis/Seccubus] NESSUS 7 scan fail (#631)

@seccub

[2017-12-27 21:41] womanizzzer commented on #631
@seccubus how I do it manually?

[2017-12-28 07:23] mhofstaetter-kag commented on #631
@womanizzzer When i have to manually import Nessus results into seccubus, i take the following steps:

1.) Export Nessus formatted Results via the Nessus webinterface
2.) Copy the .nessus file to the seccubus Server
3.) Convert the Nessus file to ivil
3.1) Command (Replace everything in italic) : /opt/seccubus/bin/nessus2ivil --scanner Nessus --timestamp _<example: 20171202200005>_ --workspace _<W

[2017-12-28 08:23] seccubus opened #633 "Create GUI scan import function"
Feature request for @womanizzzer

[2017-12-28 08:25] seccubus commented on #631
@womanizzzer
Interestingly enough I just ran a scan with Nessus7 Home which I registered today and Seccubus completes this scan without any trouble.

Additionally I just merged tennable.io support for Seccubus, you should be ale to get the package form the latest repo.

[2017-12-28 11:28] womanizzzer commented on #631
@seccubus
this is only possible if you update nessus 6 to nessus 7.
I had the problem first too, if you reinstall nessus 7, then you really have to delete all nessus6 packages and configs ... otherwise it's just an update again

[2017-12-28 12:05] seccubus commented on #631
This was a new install on a fresh vm.

Sent with big fingers from a small keyboard, don't blame me for typios please...
________________________________
From: womanizzzer <notifications@github.com>
Sent: Thursday, December 28, 2017 12:28:33 PM
To: schubergphilis/Seccubus
Cc: Frank Breedijk; Mention
Subject: Re: [schubergphilis/Seccubus] NESSUS 7 scan fail (#631)

@seccubus<https://github.com/seccu

[2017-12-28 18:56] Burrch3s commented on #556
I just checked, and a while ago when I was changing some stuff around, I noticed that as well. I went digging around and changed the way zap was invoked from its current way to executing a python script which used the zap api. I figured that the structure of the report generated my way was different than how seccubus was expecting it so I never thought it was a problem, but still seems like it is.

[2017-12-28 19:24] Burrch3s commented on #541
If you are still having issues with this, look at issue #556. I believe that is the issue. I had this exact issue, but if you look at 556 you will see my explanation of never reporting it.

[2017-12-28 21:15] seccubus commented on #541
Would it be possible for you to attach the xml file?
If you run do-scan with --nodelete it should remain in /tmp.

[2017-12-31 17:25] Burrch3s commented on #541
Had some free time, so I installed Seccubus-2.46 and got it running. I ran zap against my local seccubus web interface to produce the files. 'seccubus_before' and 'seccubus_before.ivil.xml' were the generated files without the changes from #556. Performing the changes mentioned in the issue result in 'seccubs.PID' and 'seccubus.PID.ivil.xml' and as you'll see the created ivil formatted xml will ha

[2018-01-02 11:16] mhofstaetter-kag opened #634 "Import of large Scan Result fails (InnoDB error)"
I went from Seccubus 2.40 to Seccubus 2.46 two weeks ago. Both are running on Ubuntu 16.04 LTS

During the testing phase of Seccubus 2.46 i noticed, that some scan results are not shown at the respective runs.

There were no errors shown in the Seccubus log, or the shell output, when i ran a scan.
It only states import successful. In the Webinterface i see the nessus and ivil file, since they are

[2018-01-02 16:11] seccubus commented on #634
Thanks for letting me know. I will look how I can adept the documentation.

[2018-01-04 12:38] womanizzzer commented on #631
@seccbubus
I tried it again, it doesnt works ....

[2018-01-20 17:07] immauss opened #635 "CentOS/RHEL systemd and hypnotoad"
Hello,
        On a freshly installed CentOS 7 box with the packagecloud.io repo, mojolicious  drops hypnotoad in /usr/local/bin, but /usr/lib/systemd/system/seccubus.service points to /bin/hypnotoad .

       On another note, the documentation has a typo in the last step. sysctl vs systemctl  .

-Scott

[2018-01-22 15:32] unshul opened #636 "Mysql error"
Why i am getting this error when i start mysql service?

![screenshot-20180122205936-1351x604](https://user-images.githubusercontent.com/35571186/35228739-5a5b6ab8-ff89-11e7-91fd-7b44aa866020.png)

[2018-01-22 16:15] seccubus commented on #636
Can you highlight or repeat in text what you think is an error in your screenshot?

Sent with big fingers from a small keyboard, don't blame me for typios please...
________________________________
From: Unshul Joshi <notifications@github.com>
Sent: Monday, January 22, 2018 4:32:13 PM
To: schubergphilis/Seccubus
Cc: Subscribed
Subject: [schubergphilis/Seccubus] Mysql error (#636)

Why i am getting

[2018-01-22 23:15] immauss commented on #636
Does it work? I don’t see anything that looks like an error. Those red bits are just notifications, but the status of the mysql server is running and green.

G.E. Scott Knauss
i <mailto:scott@knauss.com>mmauss@gmail.com
Computer Geek
Security Guy
Linux Guru

[2018-01-23 06:19] seccubus commented on #635
Documentation error fixed by: https://github.com/seccubus/seccubus.github.io/commit/f7709c3cdc48d80709cbed0253a15a87909e9972

[2018-01-23 08:44] seccubus commented on #635
Reopen, because the hypnotoad path isn't fixed yet.

[2018-01-23 13:53] seccubus commented on #634
I've added these hints to the documentation. Thanks!

https://github.com/seccubus/seccubus.github.io/commit/e19c96fe4f1b6c7b03e6cba6af70f62f0d6e6380

[2018-01-23 13:53] #634 closed

[2018-01-23 13:56] seccubus commented on #610
Make sure your apache server strips external X-Remtoe-User headers from requests it receives, otherwise users may be able to spoof authentication.

[2018-01-23 19:57] Paradox924X commented on #423
This seems to be an issue again.
The futureGrade property is no longer returned by the API.

Ex: https://api.dev.ssllabs.com/api/v3/analyze?host=3des.badssl.com&all=on

[2018-01-24 09:31] #635 closed

[2018-02-07 10:20] seccubus opened #639 "Seccubus container should not logrotate mysql if it is not started"
We got a very interesting error from cron.
[code]

[2018-02-12 15:36] #639 closed

[2018-02-14 14:15] dopyoman opened #642 "How do I run a scan using an existing container?"
Reading through the docs running a scan involves spinning up an new container. But lets say I have a container with a web interface and created a scan. How do I trigger it through the cli?

I tried
[code]

but get an error

[code]

[2018-02-14 22:47] seccubus commented on #642
I’m having trouble understanding your question. Can you elaborate?

Sent from my mobile device, sorry for the typyos.

On 14 Feb 2018, at 15:15, Adam West <notifications@github.com<mailto:notifications@github.com>> wrote:

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/schubergphilis/Seccubus/issues/642>, or mu

[2018-02-15 08:30] dopyoman commented on #642
So, I have a `docker-compose.yml` file that might better explain what I'm trying to achieve.

[code]

when I run `docker-compose up` an instance of seccubus is created with a container name of `seccubus_test` that I want to run commands against. I hope this better explains my question.

[2018-02-15 12:40] dopyoman commented on #636
This might be an un related issue but here's my output when I try and check the status of the local db.

[code]

[2018-02-15 12:44] seccubus commented on #636
What are the environment variables you used to start up that container?

[2018-02-15 12:46] dopyoman commented on #636
From the docker-compose file I posted in the #642

[code]

[2018-02-15 13:26] seccubus commented on #642
On a 'bare' docker container `docker run -ti seccubus/seccubus scan Example nmap` will work, but it will stop the container when scanning is done. You could use this in e.g. a crontab of with Kubernetes (that's what we use).

docker exec will execute a system command on an already running container and thus bypasses the entrypoint.sh script.

You could use the following to start a scan via docker

[2018-02-15 13:51] dopyoman commented on #642
Ohh ok I got you. The commands are accessible to the seccubus user not root. Ok and Just in case anyone else tries a full example command.

[code]

[2018-02-15 13:51] #642 closed

[2018-02-16 10:06] seccubus commented on #636
Sorry, I can't reproduce your finding:

[code]

[2018-02-22 08:46] dopyoman commented on #636
Ya I should have said that I edited the compose file. I removed a line that was causing the problem.

[code]

This line caused mysql to incorrectly listen only to localhost blocking remote connections

[2018-03-12 15:46] geanxyz commented on #631
still the same problem with nessus 7... :-\

[2018-03-12 19:45] seccubus commented on #631
Unfortunately Tenable has decided they don’t want to support this.

Sent with big fingers from a small keyboard, don't blame me for typios please...
________________________________
From: Andreas Gegenleitner <notifications@github.com>
Sent: Monday, March 12, 2018 4:46:10 PM
To: schubergphilis/Seccubus
Cc: Frank Breedijk; Mention
Subject: Re: [schubergphilis/Seccubus] NESSUS 7 scan fail (#631)

st

[2018-03-21 12:41] alirezakv opened #645 "Defective IVIL import into database"
some plugins in test tools will produce several outputs on the same port like "services" in OpenVAS.
for example:
services,127.0.0.1,3128, "a web server is running"
services,127.0.0.1,3128, "a web proxy is running"

when IVIL is imported into database, based on Findings.pm line 1140, if a match of "SearchTerm" (workspace_id, scan_id, host, port, plugin) exists, it will be updated in database which

[2018-03-24 08:10] crazy8ight opened #646 "如何扫描，如何查看扫描结果"
使用WEB页面，无法启动扫描，有没有操作手册，请发我一份。
mail:87895449@qq.com

[2018-03-27 11:17] seccubus commented on #646
English translation:
Title: How to scan, how to view the scan results

Use WEB page, can not start the scan, there is no operating manual, please send me a copy.

[2018-03-27 11:18] seccubus commented on #646
Setup documentation is at: https://www.seccubus.com/documentation/02-scan-setup/

安装文档位于：https：//www.seccubus.com/documentation/02-scan-setup/

[2018-03-27 12:01] seccubus commented on #631
O.K. did some debugging. The API is full in tact when you use a HOME license, but when you switch to professional, it gets disabled.

So automatically creating a scan is disabled as is updating is via the API.

[2018-04-16 19:23] HTlocal opened #648 "Dockerization for ubuntu base image needed?"
Hi,

in our corporate environment we require to use a selection of docker base images (perl not being part of them), which have monitoring and some other basics included. Especially the mysql stuff needed some modifications to make it work with the images since mysql_install_db has been deprecated.
My plan was to just submit a Dockerfile-Ubuntu, but I had to modify the docker-install.sh and entryp

[2018-04-18 10:13] theodoorscholte opened #649 "--cdn option for Nmap and Nessus scanners"
Some scanners will produce the same findings on each run if IP adresses of hosts change. This is a very common phenomenon in cloud environments such as AWS. For this reason, the scanners testssl and ssllabs can be configured with the --cdn option. Can we get the same feature for Nmap and Nessus as well?

[2018-04-20 01:06] ranjan1n opened #650 "Facing issues with login after install"
Seccubus Version : 2.46-1
=================

I followed the link https://www.seccubus.com/documentation/12-installation-on-debian/ for installation on my Ubuntu 14.04.4 LTS. Installation went well and i did not hit any error,

Then navigated to https://my linux box ip:8443/seccubus/seccubus.html
I tried first the default password "GiveMeVulns!", but it didnt work. The page again came back to login

[2018-04-20 04:44] seccubus commented on #650
Can you make a screenshot of the status tab for me?

[2018-04-20 15:09] ranjan1n commented on #650
Here is the screenshot of the status tab. No green checks seen or nothing coming up

![image](https://user-images.githubusercontent.com/5061977/39058961-ea541f98-44da-11e8-85d1-47412df9b904.png)

[2018-04-20 15:11] ranjan1n commented on #650
Checked that Seccubus is installed fine:
root@ubuntu1404:~# dpkg -l seccubus
Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
|/ Err?=(none)/Reinst-required (Status,Err: uppercase=bad)
||/ Name                                 Version                 Architecture            Description
+++-====================================-=

[2018-04-23 07:07] ranjan1n opened #651 "No Data in database after Nessus scans"
I have a very good working Seccubus 2.31.4-90.1 version that has been working very well on a CentOS release 6.9 from quite some months. My Nessus version is   6.11.1.

I am working towards going to the latest Seccubus release ( 2.46-1 ) on a new Ubuntu16 box and a CentOS Linux release 7.4 box. But i am not able to see any data being populated after successful nessus scans on both the installs.
The

[2018-04-25 21:03] gaelanadams commented on #631
With nessus pro 7.0.2 they "re-added" much of the functionality but not sure what is still black listed.

[2018-04-26 04:53] seccubus commented on #631
Thanks for letting me know, I’ll ask around.

[2018-05-02 07:43] rwesterflan opened #652 "Can't login on Docker version"
I tried several versions of the Docker container, but I can't login to any of them.
I'm running an older version on CentOS, and I want to reuse the database. This seems to work, Status page shows green checks.

However, I can't login. It goes back to empty fields with a 'Create' button.
Adding a new user via CLI doesn't help, either.
Log shows this;

`[Wed May  2 07:38:45 2018] [error] Problem wit

[2018-05-09 15:57] KCMRH opened #653 "测试扫描运行问题"
“”“You can test if your scan works by running the following command:

-v”“”“”

when i test a scan show this,how to solve this。i wanna run a scan。
-bash-4.2$ ./do-scan -- nnn --nnnn
Can't locate SeccubusV2.pm in @INC (@INC contains: /usr/local/lib64/perl5 /usr/local/share/perl5 /usr/lib64/perl5/vendor_perl /usr/share/perl5/vendor_perl /usr/lib64/perl5 /usr/share/perl5 .) at ./do-scan line 20.
BEGIN

[2018-05-12 02:50] KCMRH commented on #653
when i run a scan show like this
[root@localhost seccubus]# bin/do-scan --w <nnn> --s <nnnn>
-bash: 未预期的符号 `newline' 附近有语法错误

[2018-05-12 02:54] KCMRH commented on #653
when i type blow to run a scan，sometthing goes wrong。
[root@localhost seccubus]# bin/do-scan --w <nnn> --s <nnnn>
-bash: 未预期的符号 `newline' 附近有语法错误

[2018-05-14 04:07] KCMRH opened #654 "测试扫描运行问题-2"
when i type blow to run a scan，sometthing goes wrong。
[root@localhost seccubus]# bin/do-scan --w nnn  --s nnnn
-bash: 未预期的符号 `newline' 附近有语法错误

[2018-05-14 07:08] seccubus commented on #654
I'm having trouble reproducing you error, this is what I do:
[code]

However there is something wrong with your syntax. What happens if you type the following:
[code]

[2018-05-14 07:26] KCMRH commented on #654
when i type
# sudo su - seccubus
$ bin/do-scan -w nnn -s nnnn -v -v -v

show like this

-bash-4.2$ bin/do-scan -w nnn -s nnnn -v -v -v
Starting scan 'nnnn' from workspace 'nnn'
Sending notifications for scan start...
0 notification(s) sent
cmd: /opt/seccubus/scanners/Nessus6/scan --workspace 'nnn' --scan 'nnnn' -s <172.16.26.48> --port 8834 -u <sec> --policy <default> --hosts /tmp/seccubus.hosts.2

[2018-05-14 08:55] seccubus commented on #654
The <> marks indicate that you need to put something in there yourself.

You configuration for you canner should read:
`-s 172.16.26.48 --port 8834 -u --policy a_name_of_a_nessus_policy`

Please replace a_name_of_a_nessus_policy with the name of a valid policy on you scanner

[2018-05-14 10:10] seccubus commented on #654
Please let me know if it worked or not.

[2018-05-24 16:17] chppppp opened #655 "su - seccubus This account is currently not available."
I installed Seccubus on Kali2.0 using the deb package. Everything went well, I can login to the web gui and setup scans but when i try to run a scan i get `Can't locate SeccubusV2.pm in @INC (you may need to install the SeccubusV2 module) (@INC contains: /etc/perl /usr/local/lib/x86_64-linux-gnu/perl/5.26.1 /usr/local/share/perl/5.26.1 /usr/lib/x86_64-linux-gnu/perl5/5.26 /usr/share/perl5 /usr/lib

[2018-05-24 16:31] chppppp commented on #655
Kali created the user with nologin

[2018-05-24 16:38] seccubus commented on #655
If you run bin/do-scan iso do-scan it should work regardless

[2018-05-24 17:05] chppppp opened #656 "Install Guide?????"
I recently installed Seccubus on a Kali2.0 box and nothing works out of the box. I have been spending hours tweaking $PATH, editing the user account, moving around files, and nothing gets this going.

Is there a guide somewhere that details the actual setup of this tool? It does not work out of the box at all.

[2018-05-24 17:18] chppppp commented on #656
1) on install, in /etc/passwd, the seccubus account has nologin so you cant su to it. Had to manually change that to /bin/bash
2) seccubus account has almost nothing in ENV variables. had to manually add
`export PATH=$PATH:/opt/seccubus/bin
export PERL5LIB=/opt/seccubus:/opt/seccubus/SeccubusV2:$PERL5LIB`
3) setup testssl.sh scan in the gui - no issues except an error on the status page
`Authentic

[2018-05-24 17:59] chppppp commented on #655
@seccubus thanks for the reply. I am unable to do a bin/do-scan on a base install in kali 2.0.

root@kali:~/testssl.sh# cd /opt/seccubus/
root@kali:/opt/seccubus# bin/do-scan
Can't locate SeccubusV2.pm in @INC (you may need to install the SeccubusV2 module) (@INC contains: /etc/perl /usr/local/lib/x86_64-linux-gnu/perl/5.26.1 /usr/local/share/perl/5.26.1 /usr/lib/x86_64-linux-gnu/perl5/5.26 /usr/s

[2018-05-24 18:23] chppppp opened #657 "Cant install from source from docs"
root@kali:~/Seccubus# ./install.pl --base-dir=/opt/seccubus
Unknown option: base-dir
Checking to see if target paths exists or created
Creating stage directory '/tmp/SeccubusV2.stage.3358'

Copying files to stage_dir

Copying directories to stage_dir

Patching file paths

Basedir '/home/seccubus' does not exist

looks like the actual flag is -b

[2018-06-01 07:05] HazCod opened #658 "Slack is only open to @schubergphilis.com"
What is the point of having a chat room about Seccubus when only @schubergphilis.com users can register?

[2018-06-12 00:18] jeremybeal11 opened #659 "Initiating Nessus scan"
newbie here. i just installed seccubus on CentOS7 and I'm trying to figure out how to initiate my first scan using Nessus. i setup the workspace on the webGUI and im trying to figure how to connect to Nessus to create a scan.

[2018-06-26 14:38] seccubus commented on #659
I've updated the documentation. You can find it here:
https://www.seccubus.com/documentation/14a-running-a-scan/

[2018-06-26 14:38] #659 closed

[2018-06-26 14:39] seccubus commented on #658
No anybody can join, but Slack doesn allow we to open up a channel to the world.
See: https://www.seccubus.com/documentation/34-slack-channel/
If you drop me an email at frank (at) seccubus (dot) com I will invite you.

[2018-06-26 15:37] #658 closed

[2018-08-23 12:25] seccubus opened #660 "Docker containers need to have sudo on board for --sudo scans"
This is needed for e.g. nmap scans.

[2018-09-11 17:20] lukaspj commented on #645
Running a Nikto scan against multiple hostnames, only shows a single issue per finding even if it makes the same finding for each hostname. Is this related, or would the SearchTerm not match in this case?

[2018-09-12 06:07] lukaspj opened #661 "Nikto import only shows a single host per vulnerability."
Running a Nikto scan against multiple ports and servers, I've found a few issues.

- The UI only shows the results for one server, despite the IVIL containing all the servers. (same vulnerabilities for each server).
- Similarly for ports, only the vulnerabilities for one port shows up.
- If using hostnames (server1.com), these are inserted into the "IP" column.

IVIL (filtered for just 1 vulnerabi

[2018-09-12 06:38] lukaspj commented on #661
Seeing this:
https://github.com/schubergphilis/Seccubus/blob/a8ad6cacea2f9740beb87820a14f6f06a2c7a853/lib/Seccubus/IVIL.pm#L132-L192

It might seem like it is on purpose, I'm honestly having a hard time reading Perl code, but it seems like we might be aggregating vulnerabilities into a single finding. If this is the case, would it be possible to indicate that in the UI somehow? E.g. list multiple

[2018-09-26 15:15] NuxRo opened #663 "OpenVAS v9 fail"
Hello,

Does Seccubus support v9? I've added it as a scanner, but it doesn't seem to connect to the right port which is 9392, not 9390.
Passing --port=9392 does nothing, I get this error:
Unknown option: port

[code]

[2018-10-12 05:51] leberkas opened #664 "can't create workspace"
Hi,

i installed seccubus on a centos 7 machine as described. After logging in i wanted to create a workspace. The "create" button changes to "creating..." but nothing else happens. I found no errors inn the logs.

Also after logging in i see in the status page that all is green except:
`Authentication: You are not in: Undefined user 'Not logged in'`

What can i do?

[2018-10-22 15:37] seccubus commented on #664
I found out that in newer version of mysql/mariadb groups is now a reserved work and some queries are failing. I'm woring on a fix,

[2018-10-25 07:02] tps800 opened #666 "gsa looses report if scan started on one date and ends at an other"
- node: v10.12.0

- redis-server:
Redis server v=5.0.0 sha=00000000:0 malloc=jemalloc-3.6.0 bits=64 build=faf382d3bcf11653
- gvmd: Greenbone VulnerabilityManager 8.0+beta1
GIT revision 56971592-master
Manager DB revision 195
Copyright (C) 2010-2017 Greenbone Networks GmbH
License GPLv2+: GNU GPL version 2 or later
This is free software: you are free to change and redistribute it.
There is NO WARRA

[2018-10-29 20:35] tps800 commented on #666
Reports can be restored by giving "gvmd --migrate" on the command-line unconditionally.

[2018-10-29 20:35] #666 closed

[2018-11-04 12:33] seccubus commented on #664
Fixed in PR #668

[2018-11-04 12:33] #664 closed

[2018-11-04 13:16] #660 closed

[2018-11-04 14:10] seccubus opened #673 "Fix seccubus user in debian packages"
The followign is wrong:
* Shell should not be nologin
* .profile should set PERL5LIB to /opt/seccubus

This shoud address #655

[2018-11-04 14:11] seccubus commented on #655
If you add the following to /opt/seccubus/.profile

[code]

[2018-11-04 14:15] seccubus commented on #654
Closing ticket because of old age

[2018-11-04 14:15] #654 closed

[2018-11-04 14:17] seccubus commented on #653
You should not literally type the `<` or `>` sign, but replace it with the name.E.g.
`bin/do-scan -w Example -s nmap -v -v`

[2018-11-04 14:17] #653 closed

[2018-11-04 14:17] seccubus commented on #652
This should be fixed now with the new docker images.

[2018-11-04 14:17] #652 closed

[2018-11-04 14:18] seccubus commented on #650
This should be resolved with the new mysql files.

[2018-11-04 14:19] seccubus commented on #648
@HTlocal the newest seccubus images (:latest) is now alpine based.

[2018-11-04 14:19] #648 closed

[2018-11-04 14:19] #646 closed

[2018-11-04 20:35] #655 closed

[2018-11-05 07:19] seccubus commented on #673
Closed in commit https://github.com/schubergphilis/Seccubus/commit/a1aa22431a30a4faa2f2a462743f02daf2b3d6a7

[2018-11-05 07:19] #673 closed

[2018-11-05 07:19] #650 closed

[2018-11-05 07:34] seccubus commented on #562
No reply. Unable to troubleshoot. Closing thicket.

[2018-11-05 07:34] #562 closed

[2018-11-05 08:02] seccubus commented on #585
Fixed in last PR

[2018-11-05 08:02] #585 closed

[2018-11-05 08:03] seccubus commented on #578
No reply from @secbyd closing.

[2018-11-05 08:03] #578 closed

[2018-11-05 08:05] seccubus commented on #537
No reply, closing issue

[2018-11-05 08:05] #537 closed

[2018-11-05 08:06] seccubus commented on #532
Closing ticket. Issue was resolved earlier.

[2018-11-05 08:06] #532 closed

[2018-11-05 08:07] seccubus commented on #525
Closing ticket because of age.

[2018-11-05 08:07] #525 closed

[2018-11-05 08:09] seccubus commented on #521
Cannot troubleshoot further as no reply was given.
@Ern-st Please reopen this ticket if you still need support.

[2018-11-05 08:09] #521 closed

[2018-11-05 08:10] seccubus commented on #498
Not relevant anymore.

[2018-11-05 08:10] #498 closed

[2018-11-05 08:11] seccubus commented on #458
This has been addressed in a previous version.

[2018-11-05 08:11] #458 closed

[2018-11-05 08:12] seccubus commented on #415
This has been fixed in a previous version of Seccubus. Closing ticket.

[2018-11-05 08:12] #415 closed

[2018-11-05 08:13] seccubus commented on #371
This has been fixed in a previous version of Seccubus. Closing ticket.

[2018-11-05 08:13] #371 closed

[2018-11-05 08:14] seccubus commented on #293
Fixed some time ago. Closing

[2018-11-05 08:14] #293 closed

[2019-01-02 14:05] seccubus commented on #663
You need to set the --port option in the configuration page of the scan. Not with the do-scan command.

[2019-01-03 13:36] seccubus commented on #633
@ljw416 It's documented here https://www.seccubus.com/documentation/04-manually-importing-scans/

See commit https://github.com/schubergphilis/Seccubus/commit/1df4db384c10a4985731fbbdbe7f783eec02d1ca

[2019-01-22 09:47] jvwag opened #678 "Hypnotoad V8 does not work with Seccubus CentOS7 -Stop adding it to the repo"
Fresh install, as described in documentation, selinux disabled, gives the following in syslog when connecting to webserver:

[code]

The connection is established but no data is tranfered.

[2019-01-22 09:53] seccubus commented on #678
Which operating system?

[2019-01-22 10:05] jvwag commented on #678
The same as in the ticket title: CentOS7, latest updates

[2019-01-22 10:48] jvwag commented on #678
Downgraded to the v2.48 RPM, and now the TLS connection is set up, but no HTTP is returned.

[2019-01-24 06:47] seccubus opened #679 "RPMs in Packagecloud are not signed anymore"
Fix it.

[2019-01-24 06:47] seccubus opened #680 "RPMs in Packagecloud are not signed anymore"
Fix it.

[2019-01-25 13:50] jvwag commented on #678
Confirmed workaround. Thanks for investigating!

[2019-01-25 16:07] seccubus commented on #678
Keeping open as a reminder to fix the repo.

[2019-01-28 15:51] #678 closed

[2019-01-28 16:31] #680 closed

[2019-01-29 10:25] seccubus opened #685 "Test 54 does not initialize database"
If it is executed first it will fail.

[2019-01-29 11:05] #685 closed

[2019-01-29 14:42] seccubus opened #686 "Unknow key in sslalbs output staplingRevocationStatus"

[2019-01-29 15:12] #686 closed

[2019-01-29 15:13] seccubus commented on #663
Did it work for you @NuxRo ?

[2019-01-29 15:32] NuxRo commented on #663
Hi,

Sorry, we gave up on security scanning, at least for now. Thanks for getting back to me, though.

[2019-01-30 09:26] seccubus opened #688 "RPM packages are missing certificates"
THis means that Seccubus is listeing for http on port 8443 iso https.

[2019-01-30 10:45] #688 closed

[2019-02-02 03:32] trollmad3 commented on #456
I'm also getting this error.

[2019-03-28 11:57] pil123 opened #690 "CentOS 7 install question"
I just tried installing Seccubus on CentOS 7 using the portal [instructions](https://www.seccubus.com/documentation/19-installation-on-centos/) and got this message for one of the perl packages when running 'yum install seccubus':

Is this a known issue? Would it be ok to run the '--nogpgcheck' flag to install?

[2019-03-29 10:14] seccubus commented on #690
Good find. Release packages did not get signed (at all). I have fixed it.

If you try again the issue should be gone.

[2019-03-29 10:14] #690 closed

[2019-03-30 11:05] pil123 commented on #690
Works like a charm!

Thank you!

[2019-04-11 14:27] Fopje opened #691 "Seccubus V2 on Kali won't start the WEB GUI"
I've installed Seccubus through Packagecloud.io on a up-to-date Kali machine by downloading the Debian script and setting the os and dist to the latest Debian version. During the installation I've recevied no errors. After this I've configured the database.

Now when I want to visit https://127.0.0.1:8443 I get an certification error. After adding the url as exception, the page keeps loading until

[2019-04-11 15:22] seccubus commented on #691
Fopje,

First we need to establish if it is related to Seccubus running on Kali or the browser. Can you run seccubus in Kali and then browse to it with a browser on a regular machine?

[2019-04-11 15:29] Fopje commented on #691
Hello Frank,

Thank you for your fast reply. I gave that also a try. I used a Windows 10 machine with Microsoft Edge, but it gave also an error:

Can't connect securely to this page. This might be because the site uses outdated or unsafe TLS security settings.

[2019-06-07 08:53] tXambe commented on #691
Hello,

In Kali 9 (Linux K1 4.19.0-kali5-amd64 #1 SMP Debian 4.19.37-2kali1 (2019-05-15) x86_64 GNU/Linux) I got the same error . I run seccubus in Kali and then browse to it with a browser on a regular machine but same error.

A grreting

[2019-06-07 15:20] arkenoi commented on #691
Of course, you get a certificate error unless you installed a valid certificate into the system. It is expected behavior. Make an exception (probably a permanent one).

[2019-06-07 15:27] #663 closed

[2019-06-07 15:36] arkenoi commented on #661
yes, seems that it is a kind of side effect caused by CDN normalization. The port number is ignored. Is it bad? Should we change id?

[2019-06-07 15:43] arkenoi commented on #651
Cleaning up older issues. Feel free to open a new one if you still need any assistance.

[2019-06-07 15:43] #651 closed

[2019-06-07 15:43] MrSeccubus commented on #661
The cdn feature should only be there if —cdn is used on the command line iirc.
Could this be related to resolving the hostname?

[2019-06-07 15:53] #610 closed

[2019-06-07 16:07] MrSeccubus commented on #691
Actually is seem that Seccubus currently isn;t running on Kali. When you run
`PERL5LIB=/opt/seccubus:/opt/seccubus/lib morbo seccubus.pl` and connect you get the following error.
[code]
This is an error I've encountered before (shen switching to Mojo 8)  and fixed on other OS-es, but doesn't seem to be fixed on Kali somehow :(

[2019-06-07 16:17] MrSeccubus commented on #691
I just tested this with the 2.52-7 package from https://packagecloud.io/seccubus/releases/packages/ubuntu/zesty/seccubus_2.52-7_all.deb and this works ok.
Closing issue.

[2019-06-07 16:17] #691 closed

[2019-06-07 16:40] MrSeccubus opened #698 "Version check doesn't detect when you are using the current version"
If you set the version to 2.52 you get the following output of /api/version
[code]

[2019-06-24 15:07] cyrinux opened #700 "Interaction with DefectDojo"
Hi,

Thanks for this great project :-)

Could you please try to add interaction with
https://github.com/DefectDojo/django-DefectDojo

It's would be great to be able to push directly a qualified issue on.

Tell me if I can help you.

Regards

[2019-07-12 12:11] #698 closed

[2019-08-01 22:54] noraj opened #701 "Inventory notification"
Your tool/software has been inventoried on [*Rawsec's CyberSecurity Inventory*](https://inventory.rawsec.ml/).

https://inventory.rawsec.ml/tools.html#Seccubus

### What is Rawsec's CyberSecurity Inventory?

An inventory of tools and resources about CyberSecurity. This inventory aims to help people to find everything related to CyberSecurity.

![](https://i.imgur.com/iLNgnlz.png)

More details abo

[2019-09-30 21:01] the-llama opened #702 "Scans with OpenVAS never return findings"
Hi,
Fresh install of Seccubus 2.52 compiled from source running on Kali 2019.1a, also have OpenVAS running locally on the same machine. VMware lab, Kali machine and scanning target (DVWA instance) are both running inside VMware Fusion 11.

After building and executing the scan, Seccubus seems to fail to create or find a scan.xml and thus never returns any findings.

`root@kali:/opt/seccubus# bin/d

[2019-11-26 06:48] arkenoi commented on #702
Will try to reproduce the issue, sorry for the late reply -- do not have a Kali at hand right now. I assume you still do not have a solution?

[2019-11-26 06:49] #701 closed, assigned to nobody

[2020-02-28 13:43] LukeDInfosec commented on #4
bump 2020 still not implemented?

[2020-04-30 06:01] arkenoi commented on #4
Still working on new GUI :(

[2021-10-28 17:48] hktalent opened #703 "ERROR: Can't connect to www.seccubus.com:443 (certificate verify failed) SSL connect attempt failed error:14007086:SSL routines:CONNECT_CR_CERT:certificate verify failed at /usr/share/perl5/vendor_perl/LWP/Protocol/http.pm line 50."
ERROR: Can't connect to www.seccubus.com:443 (certificate verify failed) SSL connect attempt failed error:14007086:SSL routines:CONNECT_CR_CERT:certificate verify failed at /usr/share/perl5/vendor_perl/LWP/Protocol/http.pm line 50.

<img width="1447" alt="image" src="https://user-images.githubusercontent.com/18223385/139308384-e31af044-594f-4379-a254-becc35c9b624.png">

[2022-05-07 14:38] #703 closed, assigned to nobody